    
        <div data-role="panel" id="quick_menu" data-position="left" data-display="push">
        <ul data-role="listview" data-inset="false" data-theme="a">
            <li data-role="list-divider" data-theme="<?=$theme;?>">
                <h4 align="center">:: Quick Menu ::</h4>
            </li>
            <li  data-icon="false">
                <a href="index.php">
                <i class="ion-ios7-home" style="font-size: 27px;"></i>  Home    
                </a>
                
            </li>
            <li   data-icon="false">
                <a href="index.php?url=views/opd/onestop_home.php" data-ajax="false">
                <i class="ion-ios7-medkit" style="font-size: 27px;"></i>  One Stop Service
                </a>
            </li>
            <li    data-icon="false">
                <a href="index.php">
                <i class="ion-calendar" style="font-size: 27px;"></i>  ทะเบียนนัด
                </a>
            </li>
            <li data-icon="false">
                <a href="index.php?url=views/communityfolder/village_list.php" data-ajax="false">
                <i class="ion-android-book" style="font-size: 27px;"></i>  แฟ้มชุมชน
                </a>
            </li>             
            <li    data-icon="false">
                <a href="index.php">
                <i class="ion-briefcase" style="font-size: 27px;"></i>  เยี่ยมบ้าน
                </a>
            </li>
            <li    data-icon="false">
                <a href="index.php">
                <i class="ion-heart" style="font-size: 27px;"></i>  คัดกรอง
                </a>
            </li>
            <li data-icon="false">
                <a href="index.php">
                <i class="ion-ios7-monitor-outline" style="font-size: 27px;"></i>  HHC Center
                </a>
            </li>
            <li  data-icon="false">
                <a href="index.php">
                <i class="ion-upload" style="font-size: 27px;"></i>  Send Center
                </a>
            </li>
            <li  data-icon="false">
                <a href="index.php?url=pages/empty-page.php">
                <i class="ion-ios7-settings-strong" style="font-size: 27px;"></i>  Tools
                </a>
            </li>
            <li    data-icon="false">
                <a href="index.php">
                <i class="ion-information-circled" style="font-size: 27px;"></i>  About
                </a>
            </li>            

        </ul>
        <!-- panel content goes here -->
    </div>